<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/png" href="~/images/baseball.png">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/TeamData">Teams</a>
            <a href="/PlayerData">Players</a>
            <a href="/">Matches</a>
        </nav>
    </header>
    <main>
        <!-- AQUÍ SE ESTABLECERÁ EL CONTENIDO DE CADA PLANTILLA HIJA-->
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 StrikeData - All Rights Reserved</p>
    </footer>
</body>
</html>
