@page
@model StrikeData.Pages.PlayerData.IndexModel
@{
    ViewData["Title"] = "Players Data";
}

<div class="welcome">
    <h1 class="page-title">Players Data</h1>
    <img src="/images/player.jpg" alt="Player" />

    <div class="buttons">
        <a class="btn" href="/PlayerData/Hitting">Hitting</a>
        <a class="btn" href="/PlayerData/Pitching">Pitching</a>
        <a class="btn" href="/PlayerData/Fielding">Fielding</a>
    </div>
</div>