@page
@model StrikeData.Pages.TeamData.IndexModel
@{
    ViewData["Title"] = "Team Data";
}

<div class="welcome">
    <h1 class="page-title">Team Data</h1>
    <img src="/images/MLB_teams.jpg" alt="M" />

    <div class="buttons">
        <a class="btn" href="/TeamData/Hitting">Hitting</a>
        <a class="btn" href="/TeamData/Pitching">Pitching</a>
        <a class="btn" href="/TeamData/Fielding">Fielding</a>
        <a class="btn" href="/TeamData/">Others</a>
    </div>
</div>