@page
@model StrikeData.Pages.TeamData.IndexModel
@{
    ViewData["Title"] = "Team Data";
}

<h1 class="page-title">Team Data Sections</h1>

<div class="buttons">
    <a class="btn" href="/TeamData/WinTrends">Win Trends</a>
    <a class="btn" href="/TeamData/Stats">Stats</a>
</div>
