@page
@model StrikeData.Pages.TeamData.OthersModel
@{
    ViewData["Title"] = "Other team data";
}

<!-- Page showing other types of statistics -->
<h2 class="section-title">Other Team Data</h2>

<!-- Navigation Buttons -->
<div class="buttons">
    <a class="btn" href="/TeamData/Schedule">Schedule</a>
    <a class="btn" href="/TeamData/WinTrends">Win Trends</a>
    <a class="btn" href="/TeamData/CuriousFacts">Curious Facts</a>
</div>
