@page
@model StrikeData.Pages.IndexModel
@{
    ViewData["Title"] = "StrikeData";
}

<div class="welcome">
    <img src="/images/bating.jpg" alt="Baseball" />
    <h1>Welcome to StrikeData</h1>
    <p>Your one-stop platform for comprehensive MLB statistics.</p>

    <!--
    <div class="buttons">
        <a class="btn" href="/TeamData">View Team Data</a>
         TODO: DESCOMENTAR EN CASO QUE VAYA A PONER ALGO EN LA POLÍTICA DE PRIVACIDAD <a class="btn secondary" href="/Privacy">Privacy Policy</a>
    </div>
    -->
    
</div>
