@page
@model StrikeData.Pages.IndexModel
@{
    ViewData["Title"] = "StrikeData";
}

<div class="welcome">
    <img src="/images/bating.jpg" alt="Baseball" />
    <h1>Welcome to StrikeData</h1>
    <p>Your one-stop platform for comprehensive MLB statistics.</p>
    
</div>
